/* General */

body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 { font-weight: bold; }

.container-fluid {
    padding: 7% 15%;
}


/* Headings */

.big-heading {
    font-size: 3rem;
    line-height: 1.5;
}

.section-heading {
    font-size: 3rem;
    line-height: 1.5;
}

.small-heading {
    font-size: 1.5rem;
    font-weight: bold;
}

p {
    color: #8f8f8f;
}


/* Sections */

.colored-section {
    background-color: #ff4c68;
    color: #fff;
}

.white-section {
    background-color: #fff;
    color: #000;
}


/* Navigation Bar */

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.3rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
}


/* Download Buttons */

.download-button {
    margin: 5% 3% 5% 0;
} 


/* Title */

#title .container-fluid {
    padding: 3% 15% 7%;
    text-align: left;
}

.title-image {
    position: absolute;
    right: 30%;
    transform: rotate(25deg);
    width: 60%;
}


/* Features */

#features {
    position: relative;
}

.feature-box {
    padding: 5%;
}

.icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #ff4c68;
}


/* Testimonials */

#testimonials {
    background-color: #ef8172;
}

.testimonial-image {
    border-radius: 100%;
    margin: 20px;
    width: 10%;
}

.testimonial-text {
    color: #fff;
    font-size: 3rem;
    line-height: 1.5;
}

#press {
    background-color: #ef8172;
    padding-bottom: 3%;
}

.press-logo {
    margin: 20px 20px 50px;
    width: 15%;
}


/* Pricing */

#pricing {
    padding: 100px;
}

.price-text {
    font-size: 3rem;
    line-height: 1.5;
}

.pricing-column {
    padding: 3% 2%;
}


/* Footer */

.social-icon {
    color: #000;
    padding: 0 1%;
}


/* Media Queries */

@media (max-width: 1028px) {
    #title {
        text-align: center;
    }

    .title-image {
        position: static;
        transform: rotate(0);
    }
}
